<div>
    <h1>Режим администратора</h1>
    <p></p>
    <h3>Добавить продукт</h3>
    <form novalidate ng-submit="createProduct()">
        <p></p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Введите название продукта"
                   ng-model="new_product.title">
        </div>
        <p></p>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Введите цену продукта" ng-model="new_product.price">
        </div>
        <p></p>
        <button type="submit" class="btn btn btn-success">Создать</button>
    </form>

</div>