<div>
  <h3>Изменить продукт</h3>
  <form novalidate ng-submit="updateProduct()">
    <div class="form-group">
      <input type="number" class="form-control" hidden placeholder="ID" ng-model="updated_product.id">
    </div>
    <p></p>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Введите название продукта" ng-model="updated_product.title">
    </div>
    <p></p>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Введите цену продукта" ng-model="updated_product.cost">
    </div>
    <p></p>
    <button type="submit" class="btn btn btn-success">Сохранить изменения</button>
  </form>
</div>
