<div>
    <h3>Регистрация</h3>
    <form novalidate ng-submit="registration()">
        <p></p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Введите имя пользователя" ng-model="user.username">
        </div>
        <p></p>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Введите пароль" ng-model="user.password">
        </div>
        <p></p>
        <button type="submit" class="btn btn btn-success">Регистрация</button>
    </form>
</div>